.container{
  display:flex;
  flex-direction:column;
  width:890px;
  margin:auto;
  margin-bottom:100px;
  font-family:verdana;
}

.head{
  font-size:18px;
  line-height:30px;
}

.head p{
  padding:30px 0;
}

.list{
  display:flex;
  line-height:35px;
  font-size:15px;
  justify-content:space-between;
}

.list .three{
  margin-right:40px;
}

i{
  color:#94F50B;
  font-size:20px;
  padding-right:10px;
}

ul{
  list-style-type:none;
  padding:0;
}

p,ul{
  color:#C1C1C1;
}