body{
  background-color:#F8F8F8;
  font-family:arial;
  letter-spacing:1px;
  text-decoration:none;
}
.border{
  border-bottom:3px solid #339999;
  z-index:2;
  width:70px;
  margin:auto;
  margin-top:6px;
  
}
   

.head {
  margin-bottom:70px;
  text-align:center;
  text-transform:uppercase;
  z-index:1;
}
.head h1{
  margin-bottom:0;
}
.navigation bar{
  
}
ul{
  list-style-type:none;
  padding:0px;
  margin:0px;
  margin-bottom:40px;
  text-align:center;
  height:50px;
}
li{
  display: inline-block;
  text-align:center;
  padding: 10px;
  font-weight:bold;
  font-spacing:60px;
 
}
a{
   text-decoration:none;
  
}

li a:hover{
  
  color:#3F9F9F;
  text-decoration:blink;
}
.container{
  width:1150px;
  display:flex;
  background-color:#FFFFFF;
  flex-wrap:wrap;
  justify-content:center;
  margin:auto;
 
}
.container p{
  background-color:#9ACC78;
  width:350px;
  line-height:250px;
  text-align:center;
  color:white;
  margin: 16px;
  font-size:30px;
}