.container {
  font-family: arial;
  background-color: #F2F3F5;
  margin: 20px 95px;
}
.container .hr {
  margin: auto;
  padding: 0;
  border: none;
  border-top: 1px dashed red;
  width: 90%;
  text-align: center;
}
.container .item {
  display: flex;
}
.container .item h3 {
  letter-spacing: -1px;
  font-weight: 600;
  word-spacing: 3px;
  margin: 30px 0 0;
}
.container .item p {
  color: #A0A0A1;
  letter-spacing: 0.5px;
  display: inline-block;
  margin-right: 35px;
  line-height: 25px;
}
.container .item .border {
  background-color: #D997DE;
  width: 100px;
  border-radius: 5px;
  color: white;
  line-height: 100px;
  text-align: center;
  font-size: 70px;
  margin: 20px 30px;
  flex-shrink: 0;
}