.container {
  font-family: verdana;
  margin: 30px 80px;
}
.container h1, .container h2 {
  font-weight: lighter;
}
.container .head h1 {
  font-size: 30px;
}
.container .head hr {
  border: none;
  border-top: 3px solid #FFB737;
  width: 70px;
  margin: 0;
}
.container .content {
  display: flex;
  flex-wrap: wrap;
}
.container ul {
  list-style-type: none;
  padding: 0;
  line-height: 20px;
  margin: 0;
  margin-right: 100px;
}
.container ul h2 {
  margin-bottom: 50px;
}
.container ul li {
  margin-bottom: 40px;
  display: flex;
}
.container ul li a {
  text-decoration: none;
  color: #999999;
}
.container ul li i {
  width: 35px;
  font-size: 30px;
  padding: 0 10px;
}
.container ul li div {
  width: 200px;
}
.container form {
  flex-grow: 99;
}
.container form h2 {
  margin-bottom: 50px;
}
.container form input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  outline: none;
  border: 1px solid #CCCCCC;
  font-size: 16px;
}
.container form input:focus {
  background-color: #F8F9FA;
  border: 1px solid #0CB8B6;
}
.container form textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 0 70px 10px;
  outline: none;
  border: 1px solid #CCCCCC;
  margin-bottom: 15px;
  font-size: 17px;
}
.container form textarea:focus {
  background-color: #F8F9FA;
  border: 1px solid #0CB8B6;
}
.container form button {
  padding: 15px;
  background-color: #0CB8B6;
  border: none;
  color: white;
  font-size: 17px;
}