.container{
  display:flex;
  width:1000px;
  margin:auto;
  margin-top:30px;
  background-image:url("https://c.wallhere.com/photos/f5/7b/Firewatch_video_games-1444037.jpg!d");
  justify-content:center;
}
.container > div{
  text-align:center;
  color:white;
  padding:25px;
  font-size:15px;
  margin:0 40px;
}
i{
  font-size: 30px;
}

#so{
  font-size:20px;
}